/* Scss Document */

/* varaibles are place holders for storing information that you want to reuse throught the styles. you can store things like colors, font-families, or any css value you think  you might want to reuse.

SCSS uses the '$' symbol to declare variables
 */

// colors

$primary: #3498db;
$secondary: #aaaaaa;
$white: #fff;

// font families
$helvetica: Helvetica, Arial, san-serif;


